## Как работает метод `.apply`

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(dict(item=['milk', 'eggs', 'bread', 'organic milk'],
                       price=[30, 20, 10, 45]))
df

           item  price
0          milk     30
1          eggs     20
2         bread     10
3  organic milk     45

Пусть мы хотим сделать скидку: на товары дороже 20 скидку 10%, а на остальные — 20%. Можно написать такую функцию, вычисляющую цену после скидки:

In [3]:
def find_price_with_discount(price):
    if price > 20:
        return price * 0.9
    else:
        return price * 0.8

И теперь применить эту функцию к каждому элементу из столбца `price`:

In [4]:
df['price'].apply(find_price_with_discount)

0    27.0
1    16.0
2     8.0
3    40.5
Name: price, dtype: float64

Получился `pd.Series`, состоящий из искомых значений. Можно записать его в новый столбец.

In [5]:
df['discounted_price'] = df['price'].apply(find_price_with_discount)

In [6]:
df

           item  price  discounted_price
0          milk     30              27.0
1          eggs     20              16.0
2         bread     10               8.0
3  organic milk     45              40.5

Но эффективнее эту задачу было бы решить так, без `apply`.

In [7]:
df["discounted_price"] = (df["price"] * 0.9).where(df["price"] > 20, df["price"] * 0.8)
df

           item  price  discounted_price
0          milk     30              27.0
1          eggs     20              16.0
2         bread     10               8.0
3  organic milk     45              40.5